<mat-form-field class="mat-ff-full-width" appearance="standard">
  <mat-label>Please select customer</mat-label>
  <mat-select [(ngModel)]="selectedCustomer">
    <mat-option value="0">Select product</mat-option>
    <mat-option *ngFor="let customer of customerList | async | activeFilter" value="{{customer.id}}">{{customer.firstName}} {{customer.lastName}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button class="btn btn-primary btn-sm button-bottom-right" *ngIf="selectedCustomer" (click)="onReturnSelectedCustomer()">select customer</button>
