<ng-container *ngIf="!isCreateMode">
  <mat-form-field class="mat-ff-full-width" appearance="standard">
    <mat-label>Please select product</mat-label>
    <mat-select [(ngModel)]="selectedProduct">
      <mat-option value="0">Select product</mat-option>
      <mat-option *ngFor="let product of productList | async | activeFilter:true" value="{{product.id}}">
        {{product.name}} ({{product.price}}€)</mat-option>
    </mat-select>
  </mat-form-field>
  <p class="pt-2 pb-2 text-center" *ngIf="!selectedProduct || selectedProduct === 0">- or -</p>
  <div class="d-flex justify-content-center" *ngIf="!selectedProduct || selectedProduct === 0">
    <button mat-raised-button class="btn btn-info btn-sm text-center" (click)="onInitAddProduct()">add new
      product</button>
  </div>

  <button mat-raised-button class="btn btn-primary btn-sm button-bottom-right"
    *ngIf="selectedProduct && selectedProduct != 0" (click)="onReturnSelectedProduct()">select product</button>
</ng-container>
<ng-container *ngIf="isCreateMode">
  <app-edit-product-form [product]="newProduct" [categories]="categoryList$ | async" (closeWithoutSaving)="onCloseNewDialogWithoutSaving()" (saveNewProduct)="onNewProductCreated($event)"></app-edit-product-form>
</ng-container>
