
<form #customerForm="ngForm" (ngSubmit)="onSaveNewCustomer(customer)" *ngIf="customer">
  <h3>{{customer.id===0 ? 'Create new' : 'Update'}} customer</h3>

  <input type="hidden" class="form-control" id="id" name="id"
      [(ngModel)]="customer.id" required>

  <div class="form-group">
    <label for="firstName">Customer first name</label>
    <input type="text" class="form-control" id="firstName" placeholder="Enter firstname" name="firstName"
      [(ngModel)]="customer.firstName" required>
  </div>

  <div class="form-group">
    <label for="lastName">Customer lastname</label>
    <input type="text" class="form-control" id="lastName" placeholder="Enter lastname" name="lastName"
      [(ngModel)]="customer.lastName" required>
  </div>

  <div class="form-group">
    <label for="email">Customer email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email address" name="email"
      [(ngModel)]="customer.email" required>
  </div>

  <div class="form-group">
    <label for="address.zip">Customer ZIP</label>
    <input type="number" class="form-control" id="address.zip" placeholder="Enter ZIP" name="address.zip"
      [(ngModel)]="customer['address.zip']" required>
  </div>

  <div class="form-group">
    <label for="address.street">Customer address street</label>
    <input type="text" class="form-control" id="address.street" placeholder="Enter street" name="address.street"
      [(ngModel)]="customer['address.street']" required>
  </div>

  <div class="form-check mb-4">
    <label class="form-check-label" for="newactive">
      <input class="form-check-input" type="checkbox" [(ngModel)]="customer.active" name="active" id="newactive">
          Active customer?
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
      </label>
  </div>

  <button type="submit" class="btn btn-primary">Save {{customer.id===0 ? 'New' : 'Update'}} customer</button>

  <button type="button" class="btn btn-warning pull-right" (click)="onCloseWithoutSaving()">close without saving</button>

</form>
