<div class="sidebar" data-color="purple" data-background-color="white">
  <div class="logo">
    <a routerLink="/" class="simple-text logo-mini">
      Webshop
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link" href="#0">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <!-- your sidebar here -->
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/productlist">
          <i class="fa fa-product-hunt" aria-hidden="true"></i>
          Product list
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/customerlist">
          <i class="fa fa-users" aria-hidden="true"></i>
          Customer list
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/orderlist">
          <i class="fa fa-first-order" aria-hidden="true"></i>
          Order list
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/bill-list">
          <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
          <p>Bill list</p>
        </a>
      </li>
    </ul>
  </div>
</div>
