<!-- teszt-->
<div class="row">
  <div class="col">

  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <app-customer-stats [customers]="allClients" *ngIf="allClients"></app-customer-stats>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <app-product-stats [products]="allProducts" *ngIf="allProducts"></app-product-stats>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <app-bill-stats [bills]="allBills" *ngIf="allBills"></app-bill-stats>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-chart-display
    [allProducts]="allProducts"
    [allBills]="allBills" [allOrders]="allOrders"
    *ngIf="allProducts && allBills && allOrders" ></app-chart-display>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-map-card [orders]="allOrders" *ngIf="allOrders"></app-map-card>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Debug bar</h4>
            <p class="card-category">You can use this buttons the debug the get|getAll service calls. Please remove it before deploying the app in production.</p>
        </div>
        <div class="card-body">
            <div>
              <button mat-raised-button class="btn btn-default" (click)="getAllCategoryTest()">Category (all)</button>
              <button mat-raised-button class="btn btn-default" (click)="getOneCategoryTest()">Category (one)</button>
              <button mat-raised-button class="btn btn-primary" (click)="getAllProductTest()">Product (all)</button>
              <button mat-raised-button class="btn btn-primary" (click)="getOneProductTest()">Product (one)</button>
              <button mat-raised-button class="btn btn-info" (click)="getAllCustomerTest()">Customer (all)</button>
              <button mat-raised-button class="btn btn-info" (click)="getOneCustomerTest()">Customer (one)</button>
              <button mat-raised-button class="btn btn-success" (click)="getAllOrderTest()">Order (all)</button>
              <button mat-raised-button class="btn btn-success" (click)="getOneOrderTest()">Order (one)</button>
              <button mat-raised-button class="btn btn-warning" (click)="getAllBillTest()">Bill (all)</button>
              <button mat-raised-button class="btn btn-warning" (click)="getOneBillTest()">Bill (one)</button>
            </div>
            <div>
              <pre>{{testOutput}}</pre>
            </div>
        </div>
    </div>
</div>
</div>
