<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Full header coloured</h4>
            <p class="card-category">Category subtitle</p>
        </div>
        <div class="card-body">
            <app-edit-customer-form [customer]="customer" (closeWithoutSaving)="onafterSave()" (saveNewCustomer)="onafterSave()"></app-edit-customer-form>
          </div>
    </div>
</div>
</div>
