<div class="col-2 text-right">
  <button (click)="onCreate()" class="btn btn-success mb-3">CREATE</button>
</div>

<div class="table-responsive">
  <table class="table table-sm table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th *ngFor=" let entity of entities[0] | keys">{{entity}}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entity of entities">
        <td *ngFor="let propertyKey of entity | keys">{{entity[propertyKey]}}</td>
        <div class="btn-group">
          <button (click)="onEdit(entity)" class="btn btn-success">
            <i class="fa fa-pencil"></i>
          </button>
          <button (click)="onDelete(entity)" class="btn btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
