<div class="col-2 text-right">
  <button (click)="onCreate()" class="btn btn-success mb-3">CREATE</button>
</div>
<div class="card">
  <div class="card-header card-header-danger">
    <h4 class="card-title"></h4>
    <p class="card-category">Here is a subtitle for this table</p>
  </div>

  <div class="card-content table-full-width table-responsive" *ngIf="entities">
    <table class="table">
      <thead class="text-danger">
        <th *ngFor="let entity of entities[0] | keys">{{ entity }}</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <tr *ngFor="let entity of entities">
          <td *ngFor="let propertyKey of entity | keys">
            {{ entity[propertyKey] }}
          </td>
          <td>
            <div class="btn-group">
              <button (click)="onEdit(entity)" class="btn btn-success">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(entity)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
