<p>customer-card works!</p>
<div class="col-md-4">

  <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="fa fa-users"></i>
        </div>
        <h4 class="card-title">Here is the Icon</h4>
      </div>
      <div class="card-body">

  <div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">Output</h4>
      </div>
      <div class="card-body">
          <pre>{{testOutput}}</pre>
      </div>
  </div>
  </div>
          The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
      </div>
  </div>

</div>
